/* section : account-cards */
.account-cards {
  width: 100%;
}
.account-cards .card {
  width: 58%;
}
.account-cards .card .card-txt {
  padding: 10px 20px;
  margin: 30px 0;
  font-size: 20px;
}
/* account-info */
.account-cards .card.account-info .card-txt li {
  display: flex;
}
.account-cards .card.account-info .card-txt .title {
  width: 6rem;
  text-align: center;
  padding: 5px 10px;
  border: 1px solid var(--border-gray);
  border-right: 0px;
  border-radius: 0.357rem 0 0 0.357rem;
  background-color: var(--bg-gray-light);
}
.account-cards .card.account-info .card-txt .value {
  padding: 5px 0;
  border: 1px solid var(--border-gray);
  border-radius: 0 0.357rem 0.357rem 0;
  flex-grow: 1;
  text-indent: 1rem;
}
/* pwd-modify */
.account-cards .card.pwd-modify form .input-group {
  display: flex;
  margin: 10px 0;
  font-size: 20px;
}
.account-cards .card.pwd-modify form .input-group label {
  width: 8rem;
  text-align: center;
  padding: 5px 10px;
  border: 1px solid var(--border-gray);
  border-right: 0px;
  border-radius: 0.357rem 0 0 0.357rem;
  background-color: var(--bg-gray-light);
}
.account-cards .card.pwd-modify form .input-group input {
  border: 1px solid var(--border-gray);
  border-radius: 0 0.357rem 0.357rem 0;
  flex-grow: 1;
  text-indent: 1rem;
}
.account-cards .card.pwd-modify form .submit {
  display: block;
  margin: 20px 0 0 auto;
  background-color: var(--btn-blue);
  font-size: 20px;
  color: #fff;
}
.account-cards .card.pwd-modify form .submit:hover {
  background-color: var(--btn-blue-hover);
  cursor: pointer;
}
/* RWD */
@media screen and (max-width: 992px) {
  .account-cards .card .card-title {
    font-size: 22px;
  }
  .account-cards .card {
    width: 95%;
  }
  .system-message .card {
    width: 300px;
  }
}
