:root {
  --capoo-blue: rgb(78, 194, 228);
  --capoo-back-blue: rgb(63, 154, 188);
  --capoo-black: rgb(62, 61, 61);
}
.capoo.cover {
  width: 120px; /* width: 500px; */
  height: 120px; /* height: 500px; */
  position: absolute;
  animation: walk-distance 20s linear 4s infinite;
  top: 0;
  right: -120px;
}
/* ear */
.ear-left {
  width: 20%; /*width:100px*/
  height: 20%; /*height:100px*/
  clip-path: polygon(
    0% 100%,
    15% 60%,
    20% 50%,
    30% 40%,
    40% 30%,
    45% 26%,
    50% 25%,
    55% 28%,
    60% 32%,
    65% 35%,
    70% 40%,
    80% 50%,
    85% 55%,
    90% 60%,
    95% 65%,
    99% 80%,
    100% 100%
  );
  background-color: var(--capoo-black);
  position: absolute;
  top: 12%; /* top: 60px; */
  left: 22%; /* left: 110px; */
  z-index: 1;
  scale: 1.2;
}
.ear-left::after {
  content: "";
  position: absolute;
  width: 83%;
  height: 100%;
  top: 10%; /* top: 10px; */
  left: 10%; /* left: 10px; */
  clip-path: polygon(
    0% 100%,
    15% 60%,
    20% 50%,
    30% 40%,
    40% 30%,
    45% 26%,
    50% 25%,
    55% 28%,
    60% 32%,
    65% 35%,
    70% 40%,
    80% 50%,
    85% 55%,
    90% 60%,
    95% 65%,
    99% 80%,
    100% 100%
  );
}
.capoo .ear-left::after {
  background-color: var(--capoo-blue);
}
.ear-right {
  width: 20%;
  height: 20%;
  position: absolute;
  z-index: 10;
  top: 14%;
  left: 44%;
}
.ear-right-outline {
  width: 100%;
  height: 100%;
  clip-path: polygon(
    0% 60%,
    10% 40%,
    20% 25%,
    30% 12%,
    45% 5%,
    52% 8%,
    60% 15%,
    70% 30%,
    80% 42%,
    100% 75%
  );
}
.capoo .ear-right-outline {
  background: var(--capoo-black);
}
.ear-right-inner {
  content: "";
  position: absolute;
  width: 85%;
  height: 100%;
  top: 12%;
  left: 8%;
  clip-path: polygon(
    0% 60%,
    10% 40%,
    20% 25%,
    30% 12%,
    45% 5%,
    52% 8%,
    60% 15%,
    70% 30%,
    80% 42%,
    100% 75%
  );
  z-index: 7;
}
.capoo .ear-right-inner {
  background-color: var(--capoo-blue);
}
/* body */
.body {
  width: 100%;
  height: 100%;
  position: absolute;
}
.body .body-round {
  width: 100%;
  height: 100%;
  margin-left: 10%;
  margin-right: 10%;
  position: absolute;
  top: 20%;
}
.body .body-rounded {
  width: 77%; /* 385px */
  height: 49%; /* 245px */
  clip-path: inset(4% 5.2% 12.2% 2.6% round 45% 40% 30% 35%);
  position: absolute;
  top: 2.6%;
  left: 2.6%;
  z-index: 6;
}
.capoo .body .body-rounded {
  background-color: var(--capoo-blue);
}
.body .body-rounded-outline {
  width: 82%;
  height: 54%;
  position: absolute;
  clip-path: inset(3.7% 4.9% 11.1% 2.4% round 45% 40% 30% 35%);
  background-color: var(--capoo-black);
  z-index: 5;
}
/* abdomin */
.capoo .body .body-rounded::after {
  content: "";
  width: 60%; /* width: 230px; */
  height: 24.5%; /* height: 60px; */
  rotate: 5deg;
  clip-path: ellipse(25% 40% at 50% 50%);
  background-color: white;
  position: absolute;
  top: 77.5%; /*top: 190px;*/
  left: 7.8%; /*left: 30px;*/
  z-index: 9;
  animation: walk-abdomin 4s linear infinite;
}

/* tail */
.body .tail {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 20%; /* 100px */
  z-index: 9;
}
.capoo .body .tail {
  left: 60%; /* 300px */
}
.capoo .body .tail .tail-inner {
  width: 35%; /*width: 175px;*/
  height: 44%; /*height: 220px;*/
  background-color: var(--capoo-blue);
  position: absolute;
  top: 1%;
  left: -1%;
  clip-path: polygon(
    0 5%,
    60% 13%,
    70% 12%,
    80% 10%,
    85% 30%,
    84% 50%,
    83% 60%,
    82% 70%,
    81% 80%,
    80% 85%,
    79% 90%,
    75% 95%,
    70% 100%,
    10% 100%
  );
  z-index: 10;
  scale: 0.9;
}
.capoo .body .tail .tail-outline {
  width: 35%; /*width: 175px;*/
  height: 44%; /*height: 220px;*/
  background-color: var(--capoo-black);
  position: absolute;
  clip-path: polygon(
    0 5%,
    60% 13%,
    70% 12%,
    80% 10%,
    85% 30%,
    84% 50%,
    83% 60%,
    82% 70%,
    81% 80%,
    80% 85%,
    79% 90%,
    75% 95%,
    70% 100%,
    60% 100%
  );
}
/* back-line */
.capoo .body .tail .tail-line {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 1%;
  left: -1%;
}
/* 第一條線 */
.capoo .body .tail .tail-line::before {
  content: "";
  width: 5%; /*width: 25px;*/
  height: 10%; /*height: 50px;*/
  background-color: var(--capoo-back-blue);
  position: absolute;
  top: 5%; /*top: 25px;*/
  left: 4%; /* left: 20px;*/
  border-radius: 0 0 60% 40%;
  rotate: 6deg;
  z-index: 10;
}
/* 第二條線 */
.capoo .body .tail .tail-inner::before {
  content: "";
  width: 14.2%; /*width: 25px;*/
  height: 27.2%; /*height: 60px;*/
  background-color: var(--capoo-back-blue);
  position: absolute;
  top: 4.5%; /*top: 10px;*/
  left: 34.2%; /*left: 60px;*/
  border-radius: 0 0 60% 20%;
  z-index: 10;
}
/* 第三條線 */
.capoo .body .tail .tail-inner::after {
  content: "";
  width: 11.4%; /*width: 20px;*/
  height: 22.7%; /*height: 50px;*/
  background-color: var(--capoo-back-blue);
  position: absolute;
  top: 11.4%; /*top: 20px;*/
  left: 57.1%; /*left: 100px;*/
  border-radius: 0 0 80% 20%;
  z-index: 10;
}

/* eye */
.body .eye {
  width: 100%;
  height: 100%;
  position: relative;
}
.capoo .body .eye .eye-left {
  width: 7%; /*width: 35px;*/
  height: 14%; /*height: 70px;*/
  clip-path: ellipse(50% 40% at 50% 50%);
  rotate: 10deg;
  background-color: var(--capoo-black);
  position: absolute;
  top: 36%; /*top: 180px;*/
  left: 17%; /*left: 85px;*/
  z-index: 6;
}
.capoo .body .eye .eye-right {
  width: 9%; /*width: 45px;*/
  height: 15%; /*height: 75px;*/
  rotate: -5deg;
  clip-path: ellipse(50% 40% at 50% 50%);
  background-color: var(--capoo-black);
  position: absolute;
  top: 36%; /*top: 180px;*/
  left: 48%; /*left: 240px;*/
  z-index: 6;
}
/* mouth */
/* mouth-left */
.capoo .body .mouth .mouth-left {
  width: 8%; /*width: 40px;*/
  height: 8%; /*height: 40px;*/
  position: absolute;
  top: 41%; /*top: 205px;*/
  left: 28%; /*left: 140px;*/
  rotate: 5deg;
  z-index: 7;
}
.capoo .body .mouth .mouth-left .mouth-round {
  /* mouth-outline */
  width: 100%; /*width: 40px;*/
  height: 100%; /*height: 40px;*/
  clip-path: circle(50% at 50% 50%);
  background-color: var(--capoo-black);
  position: absolute;
  z-index: 6;
}
.capoo .body .mouth .mouth-left .mouth-round::after {
  /* mouth-inner */
  content: "";
  position: absolute;
  top: 25%; /* top: 10px; */
  left: 25%; /* left: 10px; */
  width: 50%; /*width:20px*/
  height: 50%; /*height:20px*/
  clip-path: circle(50% at 50% 50%);
  background-color: var(--capoo-blue);
}
.capoo .body .mouth .mouth-left .mouth-cover {
  width: 100%; /* width: 40px; */
  height: 50%; /* height: 20px; */
  background-color: var(--capoo-blue);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 7;
}
/* mouth */
/* mouth-right */
.capoo .body .mouth .mouth-right {
  width: 10%; /* width: 50px; */
  height: 10%; /* height: 50px; */
  position: absolute;
  top: 39.6%; /* top: 198px; */
  left: 33%; /* left: 165px; */
  rotate: -5deg;
  z-index: 7;
}
.capoo .body .mouth .mouth-right .mouth-round {
  width: 100%; /* width: 50px; */
  height: 100%; /* height: 50px; */
  clip-path: circle(50% at 50% 50%);
  background-color: var(--capoo-black);
  position: absolute;
  z-index: 6;
}
.capoo .body .mouth .mouth-right .mouth-round::after {
  content: "";
  width: 60%; /* width: 30px; */
  height: 60%; /* height: 30px; */
  position: absolute;
  top: 20%; /* top: 10px; */
  left: 20%; /* left: 10px; */
  clip-path: circle(50% at 50% 50%);
  background-color: var(--capoo-blue);
}
.capoo .body .mouth .mouth-right .mouth-cover {
  width: 100%; /* width: 50px; */
  height: 58%; /* height: 29px; */
  background-color: var(--capoo-blue);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 7;
}

/* feet */
/* foot */
.feet .foot {
  width: 12%; /* width: 60px; */
  height: 16%; /* height: 80px; */
  position: absolute;
}
.feet .foot .foot-outline {
  width: 100%; /* width: 60px; */
  height: 100%; /* height: 80px; */
  clip-path: ellipse(35% 40% at 50% 50%);
  background-color: var(--capoo-black);
  position: absolute;
  z-index: 7;
}
.feet .foot .foot-inner {
  width: 100%; /* width: 60px; */
  height: 100%; /* height: 80px; */
  clip-path: ellipse(40% 40% at 50% 50%);
  position: absolute;
  top: 6.2%; /* top: 5px; */
  left: 0;
  z-index: 7;
  scale: 0.5;
}
.capoo .feet .foot .foot-inner {
  background-color: var(--capoo-blue);
}
.feet .foot .foot-cover {
  width: 70%; /* width: 42px; */
  height: 50%; /* height: 40px; */
  position: absolute;
  top: 0;
  left: 15%; /* left: 9px; */
  z-index: 8;
}
.capoo .feet .foot .foot-cover {
  background-color: var(--capoo-blue);
}
.feet .foot.foot-left-1 {
  top: 58%; /* top: 290px; */
  left: 50%; /* left: 255px; */
  z-index: 10;
  /* animation: 名稱 跑完１組幾秒 執行的速度 無限重複 */
  animation: walk-foot-left-1 2s linear infinite;
}
.feet .foot.foot-left-2 {
  top: 57%; /* top: 285px; */
  left: 61%; /* left: 305px; */
  rotate: -5deg;
  z-index: 10;
  /* animation: 名稱 跑完１組幾秒 執行的速度 延遲幾秒 無限重複 */
  animation: walk-foot-left-2 2s linear infinite;
}
.feet .foot.foot-left-3 {
  left: 73%; /* left: 365px; */
  scale: 1.1;
  z-index: 10;
  /* animation: 名稱 跑完１組幾秒 執行的速度 延遲幾秒 無限重複 */
  animation: walk-foot-left-3 2s linear infinite;
}
.feet .foot.foot-right-1 {
  top: 56%; /* top: 280px; */
  left: 24%; /* left: 120px; */
  z-index: 1;
  transform-origin: top center;
  /* animation: 名稱 跑完１組幾秒 執行的速度 無限重複 */
  animation: walk-foot-right-1 2s linear infinite;
}
.feet .foot.foot-right-2 {
  top: 56.4%; /* top: 282px; */
  left: 40%; /* left: 200px; */
  z-index: 1;
  transform-origin: top center;
  /* animation: 名稱 跑完１組幾秒 執行的速度 無限重複 */
  animation: walk-foot-right-2 2s linear infinite;
}
.feet .foot.foot-right-3 {
  top: 56%; /* top: 280px; */
  left: 53%; /* left: 265px; */
  z-index: 1;
  transform-origin: top center;
  /* animation: 名稱 跑完１組幾秒 執行的速度 無限重複 */
  animation: walk-foot-right-3 2s linear infinite;
}
/* 動畫 */
@keyframes walk-foot-left-1 {
  0% {
    transform: rotate(-7deg);
    top: 57%; /* top: 285px; */
  }
  10% {
    transform: rotate(-10deg);
    top: 57%; /* top: 285px; */
  }
  25% {
    transform: rotate(0);
    top: 57%; /* top: 285px; */
  }
  50% {
    transform: rotate(10deg);
    top: 56%; /* top: 280px; */
  }
  75% {
    transform: rotate(0);
    top: 57%; /* top: 285px; */
  }
  100% {
    transform: rotate(-7deg);
    top: 57%; /* top: 285px; */
  }
}
@keyframes walk-foot-left-2 {
  0% {
    transform: rotate(-5deg);
    top: 57%; /* top: 285px; */
  }
  25% {
    transform: rotate(5deg);
    top: 56%; /* top: 280px; */
  }
  50% {
    transform: rotate(-5deg);
    top: 57%; /* top: 285px; */
  }
  85% {
    transform: rotate(-15deg);
    top: 56%; /* top: 290px; */
  }
  100% {
    transform: rotate(-5deg);
    top: 57%; /* top: 285px; */
  }
}
@keyframes walk-foot-left-3 {
  0% {
    transform: rotate(5deg);
    top: 54.6%; /* top: 273px; */
  }
  25% {
    transform: rotate(-5deg);
    top: 55%; /* top: 275px; */
  }
  60% {
    transform: rotate(-15deg);
    top: 54.6%; /* top: 273px; */
  }
  75% {
    transform: rotate(-5deg);
    top: 55%; /* top: 275px; */
  }
  100% {
    transform: rotate(5deg);
    top: 54.6%; /* top: 273px; */
  }
}
@keyframes walk-foot-right-1 {
  0% {
    transform: rotate(10deg);
    top: -5;
  }
  25% {
    transform: rotate(0);
  }
  60% {
    transform: rotate(-10deg);
  }
  85% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(10deg);
    top: -5;
  }
}
@keyframes walk-foot-right-2 {
  0% {
    transform: rotate(0);
  }
  35% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(0);
  }
  75% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes walk-foot-right-3 {
  0% {
    transform: rotate(-7deg);
  }
  10% {
    transform: rotate(-10deg);
  }
  25% {
    transform: rotate(0);
  }
  50% {
    transform: rotate(10deg);
  }
  75% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(-7deg);
  }
}
@keyframes walk-abdomin {
  0% {
    top: 77.5%; /*top: 190px;*/
    left: 7.8%; /*left: 30px;*/
  }
  25% {
    top: 76%; /*top: 190px;*/
    left: 7.3%; /*left: 30px;*/
  }
  50% {
    top: 77.5%; /*top: 190px;*/
    left: 7%; /*left: 30px;*/
  }
  75% {
    top: 76%; /*top: 190px;*/
    left: 7.3%; /*left: 30px;*/
  }
  100% {
    top: 77.5%; /*top: 190px;*/
    left: 7.8%; /*left: 30px;*/
  }
}
@keyframes walk-distance {
  0% {
    right: -120px;
  }
  100% {
    right: 100%;
  }
}
@media screen and (max-width: 992px) {
  .capoo.cover {
    width: 100px; /* width: 500px; */
    height: 100px; /* height: 500px; */
  }
}
