/* 整體外框 */
.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #000;
  /* 時鐘盤面 */
  .board {
    width: 100%;
    display: flex;
    justify-content: center;
    color: #fff;
    font-size: 30vw;
  }
}
