/* section : system-message */
.system-message {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(200, 200, 200, 0.7);
}
.system-message button {
  font-size: 16px;
}
.system-message .card {
  width: 600px;
}
.system-message .card .card-top {
  position: relative;
}
.system-message .card .card-top .card-title {
  text-align: center;
}
.system-message .card .card-top button.close {
  position: absolute;
  top: 50%;
  left: 10px;
  transform: translateY(-50%);
  background-color: var(--btn-red);
  color: #fff;
}
.system-message .card .card-top button.close:hover {
  background-color: var(--btn-red-hover);
}
.system-message .card .card-txt {
  padding: 10px 20px;
  margin: 30px 0;
  font-size: 20px;
}
.system-message .card .card-txt .message-txt .message-txt-title {
  font-size: 22px;
  font-weight: bold;
}
.system-message .card .card-txt .message-txt .message-list {
  padding: 10px 0;
}
.system-message .card .card-txt button.ok {
  display: block;
  margin: 20px 0 0 auto;
  font-size: 20px;
  background-color: var(--btn-blue);
  color: #fff;
}
.system-message .card .card-txt button.ok:hover {
  background-color: var(--btn-blue-hover);
}

/* .message-buttons */
.message-buttons {
  display: flex;
}
.message-buttons .show-print-preview {
  margin-left: auto;
  background-color: var(--btn-green);
  color: #fff;
}
.message-buttons .show-print-preview:hover {
  background-color: var(--btn-green-hover);
  cursor: pointer;
}
/* 暫時的超連結 */
.message-buttons .show-print-preview a {
  color: #fff;
}
.message-buttons .back-to-stair-editor {
  margin-left: 10px;
  background-color: var(--btn-blue);
  color: #fff;
}
.message-buttons .back-to-stair-editor:hover {
  background-color: var(--btn-blue-hover);
  cursor: pointer;
}
